<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.resq.mapper.car.CarAdminMapper">


    <resultMap id="carDetailMap" type="com.kosa.resq.domain.vo.car.CarDetailResponseVO">
        <result property="fuel_effciency" column="fuel_effciency"/>
        <result property="accum_mileage" column="accum_mileage"/>
        <result property="car_status" column="car_status"/>
        <result property="updated_at" column="updated_at"/>
        <result property="car_latitude" column="car_latitude"/>
        <result property="car_longitude" column="car_longitude"/>
        <result property="car_address" column="car_address"/>
        <association property="carVO" resultMap="carMap"/>
        <association property="carUser" resultMap="carUserMap"/>
    </resultMap>

    <resultMap id="carMap" type="com.kosa.resq.domain.vo.car.CarVO">
        <id property="car_code" column="car_code"/>
        <result property="car_code" column="car_code"/>
        <result property="car_name" column="car_name"/>
        <result property="type" column="type"/>
        <result property="fuel_type" column="fuel_type"/>
        <result property="authority" column="authority"/>
        <result property="buy_at" column="buy_at"/>
        <result property="memo" column="memo"/>
        <result property="created_at" column="created_at"/>
        <result property="max_capacity" column="max_capacity"/>
    </resultMap>

    <resultMap id="carUserMap" type="com.kosa.resq.domain.vo.car.CarUserResponseVO">
        <result property="mem_code" column="mem_code"/>
        <result property="dept_code" column="dept_code"/>
        <result property="position_name" column="position_name"/>
        <result property="name" column="name"/>
        <result property="dept_name" column="dept_name"/>
    </resultMap>

    <resultMap id="memResultMap" type="com.kosa.resq.domain.vo.common.MemResponseVO">
        <id property="mem_code" column="mem_code"/>
        <result property="position_name" column="position_name"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="hired_at" column="hired_at"/>
        <result property="created_at" column="created_at"/>
        <result property="address" column="address"/>
        <result property="tel" column="tel"/>
        <result property="is_worked" column="is_worked"/>
        <result property="profile_img_url" column="profile_img_url"/>
        <association property="deptVO" resultMap="deptMap"/>
    </resultMap>

    <resultMap id="deptMap" type="com.kosa.resq.domain.vo.common.DeptVO">
        <result property="dept_code" column="dept_code"/>
        <result property="dept_name" column="dept_name"/>
        <result property="dept_tel" column="dept_tel"/>
        <result property="dept_head_code" column="dept_head_code"/>
        <result property="location" column="location"/>
    </resultMap>


    <insert id="carSave" parameterType="com.kosa.resq.domain.vo.car.CarRequestVO">
        INSERT INTO car(car_code, car_name, type, fuel_type, authority, buy_at, memo, created_at, max_capacity)
        VALUES (#{car_code}, #{car_name}, #{type}, #{fuel_type}, #{authority}, #{buy_at}, #{memo}, LOCALTIMESTAMP, #{max_capacity})
    </insert>

    <insert id="carDetailSave" parameterType="com.kosa.resq.domain.vo.car.CarDetailRequestVO">
        INSERT INTO car_detail(car_code, fuel_effciency, accum_mileage, car_status)
        VALUES (#{car_code}, #{fuel_effciency}, #{accum_mileage}, #{car_status})
    </insert>

<!--    <insert id="carDetailSave" parameterType="com.kosa.resq.domain.vo.car.CarDetailRequestVO">-->
<!--        INSERT INTO car_detail(car_code, fuel_effciency, accum_mileage, car_status, updated_at, car_latitude, car_longitude, car_address)-->
<!--        VALUES (#{car_code}, #{fuel_effciency}, #{accum_mileage}, #{car_status}, #{updated_at}, #{car_latitude}, #{car_longitude}, #{car_address})-->
<!--    </insert>-->

    <insert id="carUserSave" parameterType="com.kosa.resq.domain.vo.car.CarUserRequestVO">
        INSERT INTO car_user(car_code, mem_code, created_at) VALUES(#{car_code}, #{mem_code}, LOCALTIMESTAMP )
    </insert>

    <select id="carListGetOne" parameterType="String" resultType="com.kosa.resq.domain.vo.car.CarListResponseVO">
        SELECT c1.car_code, c1.car_name, o.created_at, c2.accum_mileage, c1.memo, c1.type
        FROM car c1
                 LEFT JOIN car_detail c2 ON c1.car_code = c2.car_code
                 LEFT JOIN operation o ON o.car_code = c1.car_code
                 LEFT JOIN (
            SELECT car_code, MAX(created_at) AS max_created_at
            FROM operation
            GROUP BY car_code
        ) latest_operation ON o.car_code = latest_operation.car_code AND o.created_at = latest_operation.max_created_at
        WHERE c1.car_code = #{car_code}
    </select>

    <!--    차량 정보 리스트-->
    <select id="carGetAll" resultType="com.kosa.resq.domain.vo.car.CarListResponseVO">
        SELECT c1.type, c1.car_code, c1.car_name, o.created_at, c2.accum_mileage, c1.memo
        FROM car c1
                 LEFT JOIN car_detail c2 ON c1.car_code = c2.car_code
                 LEFT JOIN operation o ON o.car_code = c1.car_code
                 LEFT JOIN (SELECT car_code, MAX(created_at) AS max_created_at
                            FROM operation
                            GROUP BY car_code) latest_operation
                           ON o.car_code = latest_operation.car_code AND o.created_at = latest_operation.max_created_at
    </select>

    <select id="memGetAll" resultMap="memResultMap">
        SELECT m.mem_code, position_name, name, email, role, hired_at, created_at, address, tel, is_worked, profile_img_url, d.dept_code, dept_name ,dept_tel, dept_head_code, location
        FROM mem m
        INNER JOIN dept d
        ON m.dept_code = d.dept_code
    </select>

    <select id="carGetOne" parameterType="String" resultMap="carDetailMap">
        SELECT c.car_name, c.car_code, c.type, c.authority, c.fuel_type, c.buy_at, c.memo, c.created_at, c.max_capacity,
               d.accum_mileage, d.fuel_effciency, d.car_status, d.updated_at, d.car_address, d.car_latitude, d.car_longitude,
               u.mem_code, u.name, u.dept_code, u.position_name, u.dept_name
        FROM car c INNER JOIN car_detail d ON c.car_code=d.car_code
                   LEFT JOIN (select u.car_code, u.mem_code, m.name, m.dept_code, m.position_name, m.dept_name from
            (select mem.mem_code, dept.dept_code, position_name, name, dept_name from mem inner join dept ON mem.dept_code = dept.dept_code) m
                INNER JOIN car_user u
                           ON m.mem_code = u.mem_code) u ON c.car_code = u.car_code
        WHERE c.car_code=#{car_code}
    </select>

<!--    차량 수정 -->
    <update id="carModify" parameterType="com.kosa.resq.domain.vo.car.CarRequestVO">
        UPDATE car SET car_name=#{car_name}, memo=#{memo}, authority=#{authority} WHERE car_code=#{car_code}
    </update>

    <update id="carDetailModify" parameterType="com.kosa.resq.domain.vo.car.CarDetailRequestVO">
        UPDATE car_detail SET fuel_effciency=#{fuel_effciency},updated_at=LOCALTIMESTAMP, accum_mileage=#{accum_mileage} WHERE car_code=#{car_code}
    </update>

    <update id="carUserModify" parameterType="com.kosa.resq.domain.vo.car.CarUserRequestVO">
        UPDATE car_user SET mem_code=#{mem_code}, updated_at=LOCALTIMESTAMP WHERE car_code=#{car_code}
    </update>

    <delete id="carUserDelete" parameterType="String">
        DELETE car_user WHERE car_code=#{car_code}
    </delete>

<!--    차량 정비 항목들 조회-->
    <select id="getCarMaintItemList" resultType="com.kosa.resq.domain.vo.car.CarMaintResponseVO">
        SELECT maint_item_code, maint_name, cycle, type FROM car_maint
    </select>

    <select id="getMaintComList" resultType="com.kosa.resq.domain.vo.car.MaintComResponseVO">
        SELECT mc_code, mc_name, mc_tell, mc_category FROM maint_com
    </select>

<!--    차량 정비 등록하기-->
    <insert id="maintRecordSave" parameterType="com.kosa.resq.domain.vo.car.MaintRecordRequestVO">
        INSERT INTO maint_record (car_code, car)
    </insert>

</mapper>
