HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### aws 관련 git ignore 처리 ###
src/main/resources/application-aws.yaml

### oracleCloud 관련 git ignore 처리 ###
src/main/resources/application-oracle.yaml
src/main/resources/OracleCloud/Wallet_ResQ.zip
src/main/resources/OracleCloud/Wallet_ResQ