<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.resq.mapper.mr.MrAdminMapper">
    <resultMap id="mrMap" type="com.kosa.resq.domain.dto.mr.MrDTO">
        <id property="mr_code" column="mr_code"/>
        <result property="mr_name" column="mr_name"/>
        <result property="maximum_capacity" column="maximum_capacity"/>
        <result property="location" column="location"/>
        <result property="avl_start_time" column="avl_start_time"/>
        <result property="avl_end_time" column="avl_end_time"/>
        <result property="is_opened" column="is_opened"/>
        <result property="is_used" column="is_used"/>
        <result property="mr_type" column="mr_type"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <collection property="mr_keyword" resultMap="mr_keywordMap"/>
        <collection property="mr_img" resultMap="mr_imgMap"/>
        <collection property="mr_op_day" resultMap="mr_op_dayMap"/>
        <collection property="mr_supplies" resultMap="mr_suppliesMap"/>
    </resultMap>
    
    <resultMap id="mr_keywordMap" type="com.kosa.resq.domain.dto.mr.MrKeyWordDTO">
        <id property="keyword_code" column="keyword_code"/>
        <result property="keyword_name" column="keyword_name"/>
<!--        <result property="mr_code" column="mr_code"/>-->
    </resultMap>
    
    <resultMap id="mr_imgMap" type="com.kosa.resq.domain.dto.mr.MrImgDTO">
        <id property="img_code" column="img_code"/>
<!--        <result property="mr_code" column="mr_code"/>-->
        <result property="url" column="url"/>
    </resultMap>
    
    <resultMap id="mr_op_dayMap" type="com.kosa.resq.domain.dto.mr.MrOpDayDTO">
        <id property="op_day_code" column="op_day_code"/>
        <result property="day" column="day"/>
<!--        <result property="mr_code" column="mr_code"/>-->
        <result property="status" column="status"/>
    </resultMap>
    
    <resultMap id="mr_rezMap" type="com.kosa.resq.domain.dto.mr.MrRezDTO">
        <id property="mr_rez_code" column="mr_rez_code"/>
        <result property="rez_start_time" column="rez_start_time"/>
        <result property="rez_end_time" column="rez_end_time"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <result property="rez_status" column="rez_status"/>
        <result property="m_name" column="m_name"/>
        <result property="m_type" column="m_type"/>
        <result property="is_confirmed" column="is_confirmed"/>
        <result property="rez_type" column="rez_type"/>
        <collection property="mr" resultMap="mrMap"/>
    </resultMap>
    
    <resultMap id="noticeMap" type="com.kosa.resq.domain.dto.mr.NoticeDTO">
        <id property="notice_code" column="notice_code"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <result property="contents" column="contents"/>
        <result property="is_opened" column="is_opened"/>
        <result property="notice_title" column="notice_title"/>
        <result property="mem_code" column="mem_code"/>
        <collection property="notice_file" resultMap="notice_fileMap"/>
    </resultMap>

    <resultMap id="notice_fileMap" type="com.kosa.resq.domain.dto.mr.NoticeFileDTO">
        <id property="img_code" column="img_code"/>
        <result property="url" column="url"/>
    </resultMap>
<!--    <select id="mrList">-->
<!--        select *-->
<!--        from mr-->
<!--    </select>-->
    <resultMap id="mr_suppliesMap" type="com.kosa.resq.domain.dto.mr.MrSuppliesDTO">
        <id property="supplies_code" column="supplies_code"/>
        <id property="mr_code" column="mr_code"/>
        <result property="amount" column="amount"/>
        <collection property="supplies" resultMap="suppliesMap"/>
    </resultMap>

    <resultMap id="suppliesMap" type="com.kosa.resq.domain.dto.mr.SuppliesDTO">
        <id property="supplies_code" column="supplies_code"/>
        <result property="supplies_name" column="supplies_name"/>
        <result property="stock_amount" column="stock_amount"/>
        <result property="unit" column="unit"/>
        <result property="type" column="type"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
    </resultMap>

    <resultMap id="mrRezRankMap" type="com.kosa.resq.domain.dto.mr.statistics.MrRezRankDTO">
        <id property="mr_code" column="mr_code"/>
        <result property="mr_name" column="mr_name"/>
        <result property="rez_cnt" column="rez_cnt"/>
        <collection property="img_url" ofType="java.lang.String" resultMap="mr_imgMap" />
    </resultMap>

    <resultMap id="mrRezForQRDTOResultMap" type="com.kosa.resq.domain.dto.mr.MrRezForQRDTO">
        <id property="mr_rez_code" column="mr_rez_code" />
        <result property="mem_code" column="mem_code" />
        <result property="mr_code" column="mr_code" />
        <result property="m_name" column="m_name" />
        <result property="rez_date" column="rez_date" />
        <result property="start_time" column="start_time" />
        <result property="end_time" column="end_time" />
        <result property="name" column="name" />
        <result property="position_name" column="position_name" />
        <result property="dept_name" column="dept_name" />
    </resultMap>

    <resultMap id="mrRezParticipantMap" type="com.kosa.resq.domain.dto.mr.MrRezParticipantDTO">
        <id property="mr_rez_code" column="mr_rez_code" />
        <result property="name" column="name" />
        <result property="position_name" column="position_name" />
        <result property="dept_name" column="dept_name" />
    </resultMap>

    <select id="mrGetAll" resultType="com.kosa.resq.domain.dto.mr.MrDTO" resultMap="mrMap">
        <![CDATA[
        select * from MR m
            left join MR_IMG mi on m.MR_CODE = mi.MR_CODE
            left join MR_OP_DAY mop on m.MR_CODE = mop.MR_CODE
            left join MR_KEYWORD mk on m.MR_CODE = mk.MR_CODE
            left join MR_SUPPLIES ms on m.MR_CODE = ms.MR_CODE
        order by m.mr_code
        ]]>
    </select>
    <select id="mrGetOne" resultMap="mrMap" resultType="com.kosa.resq.domain.dto.mr.MrDTO">
                <![CDATA[
        select *
        from MR m
                 left join MR_IMG mi on m.MR_CODE = mi.MR_CODE
                 left join MR_OP_DAY mop on m.MR_CODE = mop.MR_CODE
                 left join MR_KEYWORD mk on m.MR_CODE = mk.MR_CODE
                 left join MR_SUPPLIES ms on m.MR_CODE = ms.MR_CODE
                 left join SUPPLIES s on ms.SUPPLIES_CODE = s.SUPPLIES_CODE
        where m.MR_CODE = #{mr_code}
        order by m.mr_code
        ]]>
    </select>
    <select id="mrRezGetAll" resultType="com.kosa.resq.domain.dto.mr.MrRezDTO" resultMap="mr_rezMap">
        select *
        from MR_REZ mrz left outer join MR mr on mrz.MR_CODE = mr.MR_CODE
    </select>
    <select id="mrRezGetOne" resultType="com.kosa.resq.domain.dto.mr.MrRezForQRDTO">
        select mr.MR_REZ_CODE,
               mr.MEM_CODE,
               mr.MR_CODE,
               mr.M_NAME,
               TO_CHAR(mr.REZ_START_TIME, 'YYYY-MM-DD') as REZ_DATE,
               TO_CHAR(mr.REZ_START_TIME, 'HH24:MI')    as START_TIME,
               TO_CHAR(mr.REZ_END_TIME, 'HH24:MI')      as END_TIME,
               m.NAME,
               m.POSITION_NAME,
               d.DEPT_NAME
        from MR_REZ mr
                 left join MEM m on mr.MEM_CODE = m.MEM_CODE
                 left join DEPT d on m.DEPT_CODE = d.DEPT_CODE
        where MR_REZ_CODE = #{mr_rez_code}
    </select>
    <select id="mrRezPtGetAll" resultType="com.kosa.resq.domain.dto.mr.MrRezParticipantDTO">
        select mp.MR_REZ_CODE,m.NAME,m.POSITION_NAME,d.DEPT_NAME
        from MR_PT mp left join mem m on mp.MEM_CODE = m.MEM_CODE
                      left join DEPT d on m.DEPT_CODE = d.DEPT_CODE
        where MR_REZ_CODE=#{mr_rez_code}
    </select>

    <select id="mrRezRankGetAll" resultType="com.kosa.resq.domain.dto.mr.statistics.MrRezRankDTO">
        SELECT
            mr.MR_CODE,
            m.MR_NAME,
            COUNT(*) AS REZ_CNT,
            mi.URL AS IMG_URL
        FROM MR_REZ mr
                 LEFT JOIN MR m ON mr.MR_CODE = m.MR_CODE
                 LEFT JOIN MR_IMG mi ON mr.MR_CODE = mi.MR_CODE
        GROUP BY
            mr.MR_CODE,
            m.MR_NAME,
            mi.URL
        ORDER BY REZ_CNT DESC
    </select>

    <select id="mrRezTimeGetAll" resultType="com.kosa.resq.domain.dto.mr.statistics.MrRezTimeDTO">
        SELECT
            CASE
                WHEN TRUNC((REZ_END_TIME - REZ_START_TIME) * 24 * 60 / 30) * 30 = 0
                    THEN 30
                ELSE TRUNC((REZ_END_TIME - REZ_START_TIME) * 24 * 60 / 30) * 30
                END AS minutes,
            COUNT(*) AS REZ_CNT
        FROM
            MR_REZ
        GROUP BY
            TRUNC((REZ_END_TIME - REZ_START_TIME) * 24 * 60 / 30)
        ORDER BY
            minutes
    </select>

    <select id="mrRezRowGetAll" resultType="com.kosa.resq.domain.dto.mr.statistics.MrRezRowDTO">
        SELECT (SELECT COUNT(*) FROM mr) AS total,
               (SELECT COUNT(*)
                FROM (SELECT DISTINCT mr_code
                      FROM mr_rez))      AS rez_row_count
        FROM dual
    </select>
    <select id="mrRezTypeGetAll" resultType="com.kosa.resq.domain.dto.mr.statistics.MrRezTypeDTO">
        SELECT m.MR_TYPE, COUNT(mrz.MR_CODE) AS REZ_CNT
        FROM MR m
                 LEFT JOIN MR_rez mrz ON m.MR_CODE = mrz.MR_CODE
        GROUP BY MR_TYPE
        ORDER BY REZ_CNT DESC
    </select>
    <select id="mrRezDateGetAll" resultType="com.kosa.resq.domain.dto.mr.statistics.MrRezDateDTO">
        SELECT TRUNC(REZ_START_TIME) AS REZ_DATE, COUNT(*) AS CNT
        FROM MR_REZ
        GROUP BY TRUNC(REZ_START_TIME)
        ORDER BY TRUNC(REZ_START_TIME)
    </select>
    <select id="mrRezFavTimeGetAll" resultType="com.kosa.resq.domain.dto.mr.statistics.MrRezFavTimeDTO">
        select TO_CHAR(REZ_START_TIME, 'HH24:MI') AS rez_time, COUNT(*) AS REZ_CNT
        from MR_REZ
        group by TO_CHAR(REZ_START_TIME, 'HH24:MI')
        ORDER BY TO_CHAR(REZ_START_TIME, 'HH24:MI')
    </select>

    <select id="noticeGetAll" resultType="com.kosa.resq.domain.dto.mr.NoticeDTO" resultMap="noticeMap">
        select *
        from NOTICE n
        left outer join
        NOTICE_FILE NF on n.NOTICE_CODE = NF.NOTICE_CODE
        order BY n.NOTICE_CODE desc
    </select>

    <select id="noticeGetOne">
        select *
        from NOTICE
        where NOTICE_CODE=#{notice_code}
    </select>

    <delete id="noticeDelete">
        delete
        from NOTICE
        where NOTICE_CODE=#{notice_code}
    </delete>

    <insert id="noticeSave">
        insert into NOTICE (NOTICE_CODE, MEM_CODE, CREATED_AT, UPDATED_AT, DELETED_AT, CONTENTS, IS_OPENED,NOTICE_TITLE)
        values ('N' || LPAD(TO_CHAR(notice_code_seq.NEXTVAL), 3, '0'), #{mem_code}, localtimestamp, localtimestamp, null,
                #{contents}, #{is_opened},#{notice_title})
    </insert>

    <insert id="mrSave">
        insert into MR (MR_CODE, MR_NAME, MAXIMUM_CAPACITY, LOCATION,
                        AVL_START_TIME, AVL_END_TIME,
                        IS_OPENED, IS_USED, MR_TYPE,
                        CREATED_AT, UPDATED_AT, DELETED_AT)
        <selectKey keyProperty="mr_code" order="BEFORE"
                   resultType="String">
            select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.NEXTVAL), 3, '0') from dual
        </selectKey>
        values (#{mr_code}, #{mr_name}, #{maximum_capacity}, #{location},
                TO_TIMESTAMP(to_char(localtimestamp, 'YYYY-MM-DD') || ' 09:00:00'),
                TO_TIMESTAMP(to_char(localtimestamp + INTERVAL '99' YEAR, 'YYYY-MM-DD') || ' 21:00:00'),
                0, 1, #{mr_type}, localtimestamp, localtimestamp, null)
    </insert>

    <insert id="mrAvailableDaySave">
        <!--        <selectKey keyProperty="mr_code" order="BEFORE"-->
        <!--                   resultType="String">-->
        <!--            select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.currval), 3, '0') from dual-->
        <!--        </selectKey>-->
        insert into MR_OP_DAY (OP_DAY_CODE,MR_CODE, DAY,STATUS )
        values (MR_OP_DAY_SEQ.nextval,
        <if test="mr_code != null">
            #{mr_code}
        </if>
        <if test="mr_code == null">
            (select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.currval), 3, '0') from dual)
        </if>, #{day} ,#{status})
    </insert>
    <update id="mrOpDayUpdate">
        update MR_OP_DAY
        set STATUS = #{status}
        where MR_CODE = #{mr_code} AND DAY = #{day}
    </update>
    <insert id="mrKeywordSave">
        <!--        <selectKey keyProperty="mr_code" order="BEFORE"-->
        <!--                   resultType="String">-->
        <!--            select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.currval), 3, '0') from dual-->
        <!--        </selectKey>-->
        insert into MR_KEYWORD (KEYWORD_CODE, MR_CODE, KEYWORD_NAME)
        values (MR_KEYWORD_SEQ.nextval,
        <if test="mr_code != null">
            #{mr_code}
        </if>
        <if test="mr_code == null">
            (select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.currval), 3, '0') from dual)
        </if>, #{keyword_name})
    </insert>
    <delete id="mrKeyWordDelete">
        delete
        from MR_KEYWORD
        where KEYWORD_CODE=${keyword_code}
    </delete>
    <insert id="mrImgSave">
        insert into MR_IMG (IMG_CODE, URL, MR_CODE)
        values ('IMG' || LPAD(TO_CHAR(IMG_CODE_SEQ.NEXTVAL), 3, '0'),#{url},#{mr_code})
    </insert>

    <update id="mrUpdate">
        update MR
        set
            MR_NAME=#{mr_name},
            MR_TYPE=#{mr_type},
            LOCATION=#{location},
            MAXIMUM_CAPACITY=#{maximum_capacity},
            IS_OPENED       = #{is_opened},
            UPDATED_AT = localtimestamp,
            DELETED_AT = null
        where MR_CODE = #{mr_code}
    </update>

    <update id="mrDeactivate">
        update MR
        set
            MR_NAME=#{mr_name},
            MR_TYPE=#{mr_type},
            LOCATION=#{location},
            MAXIMUM_CAPACITY=#{maximum_capacity},
            IS_OPENED       = 1,
            DELETED_AT = localtimestamp
        where MR_CODE = #{mr_code}
    </update>

    <update id="mrCheckIn">
        update MR
        set IS_USED = 0
        where MR_CODE=#{mr_code}
    </update>
    <update id="mrCheckOut">
        update MR
        set IS_USED = 1
        where MR_CODE=#{mr_code}
    </update>

    <select id="templateGetAll">
        select *
        from TEMPLATE
    </select>

    <delete id="mrImgDelete">
        delete
        from MR_IMG
        where IMG_CODE=#{img_code}
    </delete>



</mapper>
