<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.resq.mapper.mr.MrAdminMapper">
    <resultMap id="mrMap" type="com.kosa.resq.domain.dto.mr.MrDTO">
        <id property="mr_code" column="mr_code"/>
        <result property="mr_name" column="mr_name"/>
        <result property="maximum_capacity" column="maximum_capacity"/>
        <result property="location" column="location"/>
        <result property="avl_start_time" column="avl_start_time"/>
        <result property="avl_end_time" column="avl_end_time"/>
        <result property="is_opened" column="is_opened"/>
        <result property="is_used" column="is_used"/>
        <result property="mr_type" column="mr_type"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <collection property="mr_keyword" resultMap="mr_keywordMap"/>
        <collection property="mr_img" resultMap="mr_imgMap"/>
        <collection property="mr_op_day" resultMap="mr_op_dayMap"/>
    </resultMap>
    
    <resultMap id="mr_keywordMap" type="com.kosa.resq.domain.dto.mr.MrKeyWordDTO">
        <id property="keyword_code" column="keyword_code"/>
        <result property="keyword_name" column="keyword_name"/>
        <result property="mr_code" column="mr_code"/>
    </resultMap>
    
    <resultMap id="mr_imgMap" type="com.kosa.resq.domain.dto.mr.MrImgDTO">
        <id property="img_code" column="img_code"/>
        <result property="url" column="url"/>
    </resultMap>
    
    <resultMap id="mr_op_dayMap" type="com.kosa.resq.domain.dto.mr.MrOpDayDTO">
        <id property="op_day_code" column="op_day_code"/>
        <result property="day" column="day"/>
        <result property="mr_code" column="mr_code"/>
    </resultMap>
    
    <resultMap id="mr_rezMap" type="com.kosa.resq.domain.dto.mr.MrRezDTO">
        <id property="mr_rez_code" column="mr_rez_code"/>
        <result property="rez_start_time" column="rez_start_time"/>
        <result property="rez_end_time" column="rez_end_time"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <result property="rez_status" column="rez_status"/>
        <result property="m_name" column="m_name"/>
        <result property="m_type" column="m_type"/>
        <result property="is_confirmed" column="is_confirmed"/>
        <result property="rez_type" column="rez_type"/>
        <collection property="mr" resultMap="mrMap"/>
    </resultMap>
    
    <resultMap id="noticeMap" type="com.kosa.resq.domain.dto.mr.NoticeDTO">
        <id property="notice_code" column="notice_code"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <result property="contents" column="contents"/>
        <result property="is_opened" column="is_opened"/>
        <result property="notice_title" column="notice_title"/>
        <collection property="notice_file" resultMap="notice_fileMap"/>
    </resultMap>

    <resultMap id="notice_fileMap" type="com.kosa.resq.domain.dto.mr.NoticeFileDTO">
        <id property="img_code" column="img_code"/>
        <result property="url" column="url"/>
    </resultMap>
<!--    <select id="mrList">-->
<!--        select *-->
<!--        from mr-->
<!--    </select>-->

    <select id="mrGetAll" resultType="com.kosa.resq.domain.dto.mr.MrDTO" resultMap="mrMap">
        <![CDATA[
        select * from MR m left outer join MR_KEYWORD mk on m.MR_CODE = mk.MR_CODE
            left outer join MR_IMG mi on m.MR_CODE = mi.MR_CODE
            left outer join MR_OP_DAY mop on m.MR_CODE = mop.MR_CODE
        order by m.mr_code
        ]]>
    </select>
    
    <select id="mrRezGetAll" resultType="com.kosa.resq.domain.dto.mr.MrRezDTO" resultMap="mr_rezMap">
        select *
        from MR_REZ mrz left outer join MR mr on mrz.MR_CODE = mr.MR_CODE
    </select>

    <select id="noticeGetAll" resultType="com.kosa.resq.domain.dto.mr.NoticeDTO" resultMap="noticeMap">
        select *
        from NOTICE n
        left outer join
        NOTICE_FILE NF on n.NOTICE_CODE = NF.NOTICE_CODE
        order BY n.NOTICE_CODE desc
    </select>

    <select id="noticeGetOne">
        select *
        from NOTICE
        where NOTICE_CODE=#{notice_code}
    </select>
    <delete id="noticeDelete">
        delete
        from NOTICE
        where NOTICE_CODE=#{notice_code}
    </delete>
    <insert id="noticeSave">
        insert into NOTICE (NOTICE_CODE, MEM_CODE, CREATED_AT, UPDATED_AT, DELETED_AT, CONTENTS, IS_OPENED,NOTICE_TITLE)
        values ('N' || LPAD(TO_CHAR(notice_code_seq.NEXTVAL), 3, '0'), 'MEM001', localtimestamp, localtimestamp, null,
                #{contents}, #{is_opened},#{notice_title})
    </insert>

    <insert id="mrSave">
        insert into MR (MR_CODE, MR_NAME, MAXIMUM_CAPACITY, LOCATION,
                        AVL_START_TIME, AVL_END_TIME,
                        IS_OPENED, IS_USED, MR_TYPE,
                        CREATED_AT, UPDATED_AT, DELETED_AT)
        <selectKey keyProperty="mr_code" order="BEFORE"
                   resultType="String">
            select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.NEXTVAL), 3, '0') from dual
        </selectKey>
        values (#{mr_code}, #{mr_name}, #{maximum_capacity}, #{location},
                TO_TIMESTAMP(to_char(localtimestamp, 'YYYY-MM-DD') || ' 09:00:00'),
                TO_TIMESTAMP(to_char(localtimestamp + INTERVAL '99' YEAR, 'YYYY-MM-DD') || ' 21:00:00'),
                0, 1, #{mr_type}, localtimestamp, localtimestamp, null)
    </insert>

    <insert id="mrAvailableDaySave">
        <selectKey keyProperty="mr_code" order="BEFORE"
                   resultType="String">
            select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.currval), 3, '0') from dual
        </selectKey>
        insert into MR_OP_DAY (MR_CODE, DAY, OP_DAY_CODE)
        values (#{mr_code}, #{day}, MR_OP_DAY_SEQ.nextval)
    </insert>

    <insert id="mrKeywordSave">
        <selectKey keyProperty="mr_code" order="BEFORE"
                   resultType="String">
            select 'R' || LPAD(TO_CHAR(MR_CODE_SEQ.currval), 3, '0') from dual
        </selectKey>
        insert into MR_KEYWORD (KEYWORD_CODE, MR_CODE, KEYWORD_NAME)
        values (MR_KEYWORD_SEQ.nextval, #{mr_code}, #{keyword_name})
    </insert>
    <update id="mrUpdate">
        update MR
        set
            MR_NAME=#{mr_name},
            MR_TYPE=#{mr_type},
            LOCATION=#{location},
            MAXIMUM_CAPACITY=#{maximum_capacity},
            IS_OPENED       = #{is_opened},
            UPDATED_AT = localtimestamp,
            DELETED_AT = null
        where MR_CODE = #{mr_code}
    </update>
    <update id="mrDeactivate">
        update MR
        set
            MR_NAME=#{mr_name},
            MR_TYPE=#{mr_type},
            LOCATION=#{location},
            MAXIMUM_CAPACITY=#{maximum_capacity},
            IS_OPENED       = 1,
            DELETED_AT = localtimestamp
        where MR_CODE = #{mr_code}
    </update>
    <select id="templateGetAll">
        select *
        from TEMPLATE
    </select>

</mapper>
